<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" >
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Menu</ion-list-header>

          <ion-menu-toggle auto-hide="false">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item
                    routerDirection="root"
                    [routerLink]="'/client/login'"
                    lines="none"
                    detail="false"
                    routerLinkActive="selected"
                    *ngIf="!hasLoggedIn"
                  >
                    <ion-icon
                      aria-hidden="true"
                      slot="start"
                      [md]="'person-sharp'"
                    ></ion-icon>
                    <ion-label>Iniciar Sesión</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-item
                    routerDirection="root"
                    [routerLink]="'/client/signup'"
                    lines="none"
                    detail="false"
                    routerLinkActive="selected"
                    *ngIf="!hasLoggedIn"
                  >
                    <ion-icon
                      aria-hidden="true"
                      slot="start"
                      [md]="'person-add-sharp'"
                    ></ion-icon>
                    <ion-label>Registrarse</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-item
                    routerDirection="root"
                    [routerLink]="'/news'"
                    lines="none"
                    detail="false"
                    routerLinkActive="selected"
                    *ngIf="hasLoggedIn"
                  >
                    <ion-icon
                      aria-hidden="true"
                      slot="start"
                      [md]="'primary-sharp'"
                    ></ion-icon>
                    <ion-label>Noticias</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-item
                    routerDirection="root"
                    [routerLink]="'/news/categories'"
                    lines="none"
                    detail="false"
                    routerLinkActive="selected"
                    *ngIf="hasLoggedIn"
                  >
                    <ion-icon
                      aria-hidden="true"
                      slot="start"
                      [md]="'primary-sharp'"
                    ></ion-icon>
                    <ion-label>Categorias</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-item
                    (click)="logOut()"
                    lines="none"
                    detail="false"
                    *ngIf="hasLoggedIn"
                    button="true"
                  >
                    <ion-icon
                      aria-hidden="true"
                      slot="start"
                      [md]="'primary-sharp'"
                    ></ion-icon>
                    <ion-label>Cerrar Sesión</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>

            </ion-grid>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
